body {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #06062d 0%, #14146b 50%, #06062d 100%);

}


.nav{
    background-color: #c4c4c4;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;


}

ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 90px;

}

li{

    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: #1a4161;
    font-weight: bold;
    font-size: 20px;
    
}





.info-personal {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #51b1ff;


}

h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;


}

.resaltado-celeste {
    color: #51b1ff;
}

.info-inicio {
    color: #fff;
    text-align: justify;
    font-size: 25px;

}

.resaltado-amarillo {
    color: #e8fd00;
}

.iconos-redes {
    height: 20px;
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.botones {
    display: flex;
    justify-content: start;
    gap: 30px;

}

.botones-principales:hover{

    transform: scale(1.2);

}


button {
    display: flex;
    align-items: center;
    padding: 7px;
    justify-content: center;
    gap: 2px;
    border-radius: 25px;
    border: none;
}


.sub-sobre-mi {
    text-align: center;
}

h3 {
    color: #fff;
}

.iconos-sobremi {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.cuadros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 60px;

}

.cuadro-caracteristica {
    justify-content: flex-start;
    border: 1px solid #51b1ff;
    border-radius: 5px;
    padding: 15px;
    background-color: #111145;
}

.subtitulo-cuadros {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descripcion {
    color: #fff;
    margin: 0;
    text-align: start;
}

.desc-proyectos {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.cuadros-proyectos {
    display: flex;
    justify-content: center;
}

.imagen-pasteleria {
    height: 200px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.cuadro-pro {
    border: 1px solid #51b1ff;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;

}

.boton-ver-proyecto{
    font-size: 12px;
    

}

.boton-ver-proyecto a{
    text-decoration: none;
    color: #000;
}

.boton-ver-proyecto:hover{
    transform: scale(1.1);
}

h4 {
    margin: 0;
    padding-top: 5px;
}

.descripcion-proyecto {
    color: #fff;

}

footer {
    border-top: 1px solid #51b1ff;
    margin-top: 50PX;
    padding: 40px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.iconos-footer {
    width: 30px;
    height: 30px;
}

.botones-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}


.botons-pie:hover {
    cursor: pointer;
    transform: scale(1.2);
}


@media (max-width:760px) {

    .presentacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    h1{
        font-size: 25px;
        text-align: center;
    }
    .info-inicio{
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .sub-sobre-mi{
        padding-top: 25px;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .cuadros{
        padding-top: 20px;
    }
}

@media (max-width:920px) {

    .presentacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    h1{
        font-size: 25px;
        text-align: center;
    }
    .info-inicio{
        text-align: center;
        font-size: 15px;
        padding: 25px;
    }
    .sub-sobre-mi{
        padding-top: 25px;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .cuadros{
        padding-top: 20px;
    }
    
}